<footer id="footer " class="footer default theme-clearfix">
    <section class="footer_container container">
        <div class="col_foot">
            <div class="">
            <h4>Opriyatrade.in</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum cupiditate cum similique distinctio maiores accusamus est, fugit, nisi eaque esse beatae? Illo officia repellendus quaerat distinctio eum laboriosam nulla at?</p>
        </div>
        </div>
        <div class="col_foot">
            <div class="">
            <h4>Privacy Info</h4>
            <ul class="list-unstyled">
                <li><a>Privacy Policy</a></li>
                <li><a>Term of Sale</a></li>
                <li><a>Term of Use</a></li>
                <li><a>Report abuse & Takedown Policy</a></li>
            </ul>
        </div>
        </div>
        <div class="col_foot">
            <div class="">
            <h4>Opriyatrade Business</h4>
            <ul class="list-unstyled">
                <li><a>Shopping App</a></li>
                <li><a>Sell on Snapdeal</a></li>
                <li><a>Advertise on Opriyatrade</a></li>
                <li><a>Media Enquiries</a></li>
                <li><a>Be an Affiliate</a></li>
            </ul>
        </div>
        </div>
        <div class="col_foot">
            <div class="">
            <h4>Need Help ?</h4>
            <ul class="list-unstyled">
                <li><a href="">FAQ</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Online Shopping</a></li>
            </ul>
        </div>
        </div>
        <div class="col_foot">
            <div class="">
            <h4>Opriyatrade is commited to protecting customer</h4>
                <img src="{{assets}}images/jago.jpg" alt="">
                <h4>100% Secure & Trusted Payment</h4>
        </div>
        </div>
    </section>
    <section class="footer_container container d-flex flex-column aic">
        <h4>Keep in touch</h4>
        <div class="socianicons">
            <span class="mr-3"><i class="fa-brands fa-facebook-f"></i></span>
            <span class="mr-3"><i class="fa-brands fa-linkedin-in"></i></span>
            <span class="mr-3"><i class="fa-brands fa-instagram"></i></span>
            <span class="mr-3"><i class="fa-brands fa-google"></i></span>
        </div>
    </section>
</footer>
</div>

<!-- DIALOGS -->

<div class="modal fade " id="login_form " tabindex="-1 " role="dialog " aria-hidden="true ">
    <div class="modal-dialog block-popup-login ">
        <a href="javascript:void(0) " title="Close " class="close close-login " data-dismiss="modal ">Close</a>

        <div class="tt_popup_login ">
            <strong>Sign in Or Register</strong>
        </div>

        <div class="block-content ">
            <div class="col-reg registered-account ">
                <div class="email-input ">
                    <input type="text " class="form-control input-text username " name="username " id="username "
                        placeholder="Username " />
                </div>

                <div class="pass-input ">
                    <input class="form-control input-text password " type="password " placeholder="Password "
                        name="password " id="password " />
                </div>

                <div class="ft-link-p ">
                    <a href="lost_password.html " title="Forgot your password ">Forgot your password?</a>
                </div>

                <div class="actions ">
                    <div class="submit-login ">
                        <input type="submit " class="button btn-submit-login " name="login " value="Login " />
                    </div>
                </div>
            </div>

            <div class="col-reg login-customer ">
                <h2>NEW HERE?</h2>

                <p class="note-reg ">Registration is free and easy!</p>

                <ul class="list-log ">
                    <li>Faster checkout</li>

                    <li>Save multiple shipping addresses</li>

                    <li>View and track orders and more</li>
                </ul>

                <a href="create_account.html " title="Register " class="btn-reg-popup ">Create an account</a>
            </div>
        </div>
        <div class="clear "></div>
    </div>
</div>

<a id="etrostore-totop " href="# "></a>

<script type="text/javascript " src="{{assets}}js/jquery/jquery.min.js "></script>
<script type="text/javascript " src="{{assets}}js/jquery/jquery-migrate.min.js "></script>
<script type="text/javascript " src="{{assets}}js/bootstrap.min.js "></script>
<script type="text/javascript " src="{{assets}}js/jquery/js.cookie.min.js "></script>

<!-- OPEN LIBS JS -->
<script type="text/javascript " src="{{assets}}js/owl-carousel/owl.carousel.min.js "></script>
<script type="text/javascript " src="{{assets}}js/slick-1.6.0/slick.min.js "></script>

<script type="text/javascript " src="{{assets}}js/yith-woocommerce-compare/jquery.colorbox-min.js "></script>
<script type="text/javascript " src="{{assets}}js/isotope/isotope.js "></script>
<script type="text/javascript " src="{{assets}}js/fancybox/jquery.fancybox.pack.js "></script>
<script type="text/javascript " src="{{assets}}js/sw_woocommerce/category-ajax.js "></script>
<script type="text/javascript " src="{{assets}}js/sw_woocommerce/jquery.countdown.min.js "></script>
<script type="text/javascript " src="{{assets}}js/js_composer/js_composer_front.min.js "></script>

<script type="text/javascript " src="{{assets}}js/plugins.js "></script>
<script type="text/javascript " src="{{assets}}js/megamenu.min.js "></script>
{#<script type="text/javascript " src="{{assets}}js/main.min.js "></script>#}
<script type="text/javascript " src="{{assets}}js/main.js "></script>
<script type="text/javascript " src="{{assets}}js/custom.js "></script>
<script type="text/javascript ">
		var sticky_navigation_offset_top = $("#header .header-bottom ").offset().top;
		var sticky_navigation = function () {
			var scroll_top = $(window).scrollTop();
			if (scroll_top > sticky_navigation_offset_top) {
				$("#header .header-bottom ").addClass("sticky-menu ");
				$("#header .header-bottom ").css({ "top ": 0, "left ": 0, "right ": 0 });
			} else {
				$("#header .header-bottom ").removeClass("sticky-menu ");
		}
		};
		sticky_navigation();
		$(window).scroll(function () {
			sticky_navigation();
		});

		$(document).ready(function () {
			$(".show-dropdown ").each(function () {
				$(this).on("click ", function () {
					$(this).toggleClass("show ");
			var $element = $(this).parent().find("> ul"); $element.toggle(300); }); }); });
                                                        </script>

</body>

</html>